<h2>Search a company </h2>
{{input value=search_item}}

<button {{action 'search'}}>Search</button>

<ul>
{{#each model as |item|}}
  <li>{{item.name}} - {{item.symbol}}  <a href="prices?symbol={{item.symbol}}">Chart</a></li>
{{/each}}
</ul>
